@import "../../styles/common.scss";

.signUpTitle {
  color: $purple-dark;
  max-width: 960px;
  margin-bottom: 24px;
}

.signUpButton {
  text-align: center;
  width: 78vw;
  max-width: 320px;
  display: block;
  background-color: $green-medium;
  padding: 16px 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24);
  margin: 24px auto;
  text-decoration: none;
  color: white;
  border-radius: 4px;

  &:active {
    background-color: pink;
  }
}

.signupSection {
  margin: auto;
  padding: 48px 20px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.56em;
  text-align: center;
  background-color: $yellow-lighter;

  & > p {
    max-width: 960px;
    margin: auto;
    width: 100%;
  }
}
