@import "../../styles/common.scss";

.signUpTitle {
}

.signupButton {
  text-align: center;
  text-decoration: none;
  width: 240px;
  height: 60px;
  line-height: 60px;
  max-width: 320px;
  display: block;
  background-color: none;
  border: 3px solid $knowit-lollipop;
  //box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24);
  margin: 24px auto;
  color: $knowit-black;
  // border-radius: 4px;

  &:active {
    background-color: rgba(0, 0, 0, 0.06);
    border: 3px solid $knowit-pressed;
  }
}

.signupSection {
  .frontContent {
    p {
      text-align: center;
      padding: 18px 0;
    }
  }
}
