@import './variables.scss';

@font-face {
  font-family: 'ArialforKnowitBold';
  src: url('/fonts/arial-for-knowit-w05-bold.woff2') format('woff2'),
    url('/fonts/arial-for-knowit-w05-bold.woff') format('woff'),
    url('/fonts/arial-for-knowit-w05-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ArialforKnowitRegular';
  src: url('/fonts/arial-for-knowit-w05-regular.woff2') format('woff2'),
    url('/fonts/arial-for-knowit-w05-regular.woff') format('woff'),
    url('/fonts/arial-for-knowit-w05-regular.ttf') format('truetype');
}

h1,
h2,
h3,
h4 {
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: $knowit-black;
  padding: 0;
  margin: 0;
}
h1 {
  font-family: 'ArialforKnowitRegular', Arial, sans-serif;
  font-size: 4.8rem;
  color: $knowit-black;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

a {
  font-weight: normal;
  color: $knowit-black;
  text-decoration: none;

  border-bottom: 2px solid #ffffff00;
  border-radius: 0px;

  &:hover {
    border-bottom: 2px solid $knowit-lollipop;
  }
}

main {
  background-color: $knowit-white;
}

.gridContainer {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
  grid-auto-flow: column;
  // border: 1px solid green;
}

.frontContent {
  grid-column: 3 / span 8;
  padding: $large-vertical-padding 0px $small-vertical-padding 0px;
  color: $knowit-black;
  // text-align: justify;
  // text-justify: inter-word;
  // border: 1px solid red;
  h1,
  h2 {
    text-align: center;
  }
}
