// Knowit colors

$knowit-mint: #dbeede;
$knowit-pebble: #f1f0ed;
$knowit-sand: #e4e1db;
$knowit-forest: #4b6455;
$knowit-black: #333333;
$knowit-lollipop: #ff00ff;
$knowit-pressed: #b300b3;

// green
$green-dark: rgb(0, 89, 79);
$green-medium: rgb(0, 150, 130);
$green-light: rgb(160, 209, 202);
$green-lighter: rgb(201, 226, 224);
// purple
$purple-dark: rgb(97, 75, 121);
$purple-medium: rgb(142, 127, 174);
$purple-light: rgb(182, 184, 220);
$purple-lighter: rgb(222, 225, 236);
// blue: [
$blue-dark: rgb(40, 51, 74);
$blue-medium: rgb(87, 114, 139);
$blue-light: rgb(158, 181, 203);
$blue-lighter: rgb(214, 225, 236);
// yellow: [
$yellow-dark: rgb(207, 176, 35);
$yellow-medium: rgb(249, 226, 103);
$yellow-light: rgb(242, 240, 161);
$yellow-lighter: rgb(238, 238, 200);
// red: [
$red-dark: rgb(194, 110, 96);
$red-medium: rgb(234, 167, 148);
$red-light: rgb(236, 195, 178);
$red-lighter: rgb(243, 233, 226);
// gray: [
$gray-dark: rgb(117, 120, 123);
$gray-medium: rgb(177, 179, 179);
$gray-light: rgb(208, 208, 206);
$gray-lighter: rgb(228, 226, 219);

$large-vertical-padding: 94px;

h1,
h2,
h3,
h4 {
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: $knowit-black;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "ArialforKnowitRegular", sans-serif;
  font-size: 77px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

// section {
// width: 100%;
// }

.gridContainer {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
  grid-auto-flow: column;
  // border: 1px solid green;
}

.frontContent {
  grid-column: 3 / span 8;
  padding: $large-vertical-padding 0px;
  color: $knowit-black;
  // border: 1px solid red;
  h1,
  h2 {
    text-align: center;
  }

  p {
    line-height: 28px;
  }
}
