@import './globalVariables.scss';

@font-face {
  font-family: 'ArialforKnowitBold';
  src: url('/fonts/arial-for-knowit-w05-bold.woff2') format('woff2'),
    url('/fonts/arial-for-knowit-w05-bold.woff') format('woff'),
    url('/fonts/arial-for-knowit-w05-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ArialforKnowitRegular';
  src: url('/fonts/arial-for-knowit-w05-regular.woff2') format('woff2'),
    url('/fonts/arial-for-knowit-w05-regular.woff') format('woff'),
    url('/fonts/arial-for-knowit-w05-regular.ttf') format('truetype');
}

.gridContainer {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
  grid-auto-flow: column;
  // border: 1px solid green;
}

.frontContent {
  grid-column: 3 / span 8;
  padding: $large-vertical-padding 0px $small-vertical-padding 0px;
  color: $knowit-black;
  // text-align: justify;
  // text-justify: inter-word;
  // border: 1px solid red;
  h1,
  h2 {
    text-align: center;
  }
}
