// Current Knowit colors
$knowit-pear: #b7debd;
$knowit-mint: #dbeede;
$knowit-pebble: #f1f0ed;
$knowit-sand: #e4e1db;
$knowit-forest: #4b6455;
$knowit-clay: #a5b1aa;
$knowit-black: #333333;
$knowit-white: #f1f0ed;
$knowit-lollipop: #ff00ff;
$knowit-pressed: #b300b3;
$knowit-flamingo: #fac0b1; //  rgb(250, 192, 177)
$knowit-melon: #fcdfd8;

// old colors
// green
$green-dark: rgb(0, 89, 79);
$green-medium: rgb(0, 150, 130);
$green-light: rgb(160, 209, 202);
$green-lighter: rgb(201, 226, 224);
// purple
$purple-dark: rgb(97, 75, 121);
$purple-medium: rgb(142, 127, 174);
$purple-light: rgb(182, 184, 220);
$purple-lighter: rgb(222, 225, 236);
// blue: [
$blue-dark: rgb(40, 51, 74);
$blue-medium: rgb(87, 114, 139);
$blue-light: rgb(158, 181, 203);
$blue-lighter: rgb(214, 225, 236);
// yellow: [
$yellow-dark: rgb(207, 176, 35);
$yellow-medium: rgb(249, 226, 103);
$yellow-light: rgb(242, 240, 161);
$yellow-lighter: rgb(238, 238, 200);
// red: [
$red-dark: rgb(194, 110, 96);
$red-medium: rgb(234, 167, 148);
$red-light: rgb(236, 195, 178);
$red-lighter: rgb(243, 233, 226);
// gray: [
$gray-dark: rgb(117, 120, 123);
$gray-medium: rgb(177, 179, 179);
$gray-light: rgb(208, 208, 206);
$gray-lighter: rgb(228, 226, 219);

// Default padding and spacing
$large-vertical-padding: 94px;
$medium-vertical-padding: 46px;
$small-vertical-padding: 24px;

// default images
$favicon-academy-flamingo: '/assets/knowit_academy_flamingo_favicon.png';
