@import 'common.scss';

.content {
  padding: $large-vertical-padding 0px;
  grid-column: 3 / span 8;
  h1,
  h2 {
    font-weight: 400;
    // color: rgb(142, 127, 174);
    color: $knowit-black;
  }

  h1 {
    font-size: calc(1.4em + 0.6vw);
    padding: 0;
    margin-bottom: 0;
  }

  h2 {
    font-size: calc(1em + 0.5vw);
    margin-top: $medium-vertical-padding;
  }

  p {
    line-height: 1.5em;
  }

  ul {
    li {
      line-height: 1.5em;
    }

    li > p {
      margin: 0;
    }

    li > ul {
      // background-color: pink;
      margin-bottom: 0.6em;
    }
  }
}

.articleContent {
  .arrow {
    vertical-align: middle;
    padding-left: 12px;
  }
}
