@import "common.scss";

.content {
  max-width: 960px;

  h1,
  h2 {
    font-weight: 400;
    // color: rgb(142, 127, 174);
    color: $green-dark;
  }

  h1 {
    font-size: calc(1.4em + 0.6vw);
    padding: 0;
    margin-bottom: 0;
  }

  h2 {
    font-size: calc(1em + 0.6vw);
  }

  p {
    line-height: 1.5em;
  }

  ul {
    li {
      line-height: 1.5em;
    }

    li > p {
      margin: 0;
    }

    li > ul {
      // background-color: pink;
      margin-bottom: 0.6em;
    }
  }
  iframe {
    width: 100%;
    height: 56.25vw;

    @media (min-width: 1024px) {
      max-width: 38vw;
      max-height: calc(38vw / 1.78);
      float: right;
      margin-bottom: 24px;
      margin-left: 24px;
    }
  }
}
