@import '../../styles/common.scss';

h1 {
  margin-bottom: 0px;
}

.aboutProgram {
  margin-bottom: 32px;
  line-height: 1.56em;
}

.blogArticle {
  margin: $large-vertical-padding 0;
  grid-column: 3 / span 8;
  color: $knowit-black;
}
