@import '../../styles/common.scss';
.blogHeader {
  color: $knowit-forest; // #888;
  margin-bottom: $medium-vertical-padding;
}

.byline {
  padding-left: 8px;
  position: relative;
  font-size: 14px;
  top: -5px;
  a {
    color: $knowit-forest;
    font-weight: normal;
    text-decoration: underline;
  }
}

.blogHeaderTitle {
  font-size: 2em;
  text-align: left;
}
