@import "../../styles/common.scss";

.infoHeader {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  flex-wrap: nowrap;
  background-color: #eee;
  border-radius: 8px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  // margin-right: 16px;
  padding: 8px 8px 0px 16px;

  @media (max-width: 375px) {
    width: 220px;
  }
  h1 {
    margin: 0px;
  }
}

.byline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: middle;
  color: $gray-dark;
  padding: 4px 0px;
  div {
    display: inline-block;
  }
}

.labels {
  padding: 0px 24px 0px 8px;
  position: relative;
  top: -5px;
  font-size: 16px;
  @media (max-width: 320px) {
    font-size: 12px;
    top: -6px;
  }
  @media (min-width: 640px) and (max-width: 768px) {
    font-size: 15px;
  }

  a {
    color: inherit;
  }
}
.pictureWrapper {
  width: 240px;
  min-width: 96px;
  height: inherit;
  min-height: 120px;
  border-radius: 0px 8px 8px 0px;
  @media (max-width: 320px) {
    width: 80px;
  }

  @media (min-width: 321px) and (max-width: 375px) {
    width: 96px;
  }
}
.picture {
  width: auto;
  // height: calc(width * 0.75);
  display: block;
  object-fit: cover;
  float: right;
  // border-radius: 50%;
  // border: 4px solid #aaa;
  @media (max-width: 320px) {
    width: 64px;
    position: relative;
  }
  @media (min-width: 321px) and (max-width: 375px) {
    width: 56px;
    position: relative;
  }
}

.confirmedTrue {
  color: $red-dark;
}

.confirmedFalse {
  color: $green-dark;
}
