@import '../../styles/globalVariables.scss';

.infoHeaderLink {
  text-decoration: none;
  color: inherit;
}

.infoHeader {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  flex-wrap: nowrap;
  background-color: $knowit-flamingo;
  border-radius: 8px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  background-color: white;
  // margin-right: 16px;
  padding: 16px;

  @media (max-width: 375px) {
    width: 220px;
  }
  h4 {
    margin: 0px;
    font-size: 1.2em;
    color: $knowit-forest;
  }
}

.byline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: middle;
  color: $knowit-forest;
  padding: 4px 0px;
  div {
    display: inline-block;
  }
}

.labels {
  padding: 0px 24px 0px 8px;
  position: relative;
  top: -5px;
  font-size: 12px;
  @media (max-width: 320px) {
    font-size: 12px;
    top: -6px;
  }
  @media (min-width: 640px) and (max-width: 768px) {
    font-size: 15px;
  }

  a {
    color: inherit;
  }
}
.pictureWrapper {
  width: 240px;
  min-width: 96px;
  height: inherit;
  min-height: 240px;
  // border-radius: 0px 8px 8px 0px;
  background-image: url($favicon-academy-flamingo);
  background-size: cover;
  background-clip: 'padding-box';
  background-position: '50% 30%';

  @media (min-width: 960px) {
    width: 240px;
    min-width: 240px;
  }

  @media (min-width: 720px) and (max-width: 959px) {
    width: 180px;
    min-width: 180px;
  }

  @media (min-width: 481px) and (max-width: 719px) {
    width: 120px;
    min-width: 120px;
  }

  @media (max-width: 320px) {
    width: 80px;
  }

  @media (min-width: 321px) and (max-width: 480px) {
    width: 96px;
  }
}

.confirmedTrue {
  color: $red-dark;
}

.confirmedFalse {
  color: $green-dark;
}

.description {
  margin: 8px 0px 24px 0px;
  padding: 0;
  line-height: 1.56em;
  font-size: 0.94em;
  text-align: left;
}
