@import '../../styles/common.scss';

$menu-item-spacing: 50px;
$container-padding: 40px;
$menubar-height: 86px;

.academyTitle {
  font-family: 'ArialforKnowitRegular';
  font-weight: 200;
  // margin-left: $container-padding;
  color: $knowit-black;
}
