@import "../../styles/common.scss";

.thePrograms {
  // width: 100%;
  background-color: $knowit-pebble;
  grid-column: 3 / span 8;

  h2 {
    text-align: center;
  }

  h4 {
    margin: 0;
  }

  nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 24px 0;
      // margin: 0;
      padding: 0;
      justify-content: space-between;

      li {
        list-style: none;
        padding: 0;
        margin: 8px;
        border-radius: 0.6rem;
        background-color: $purple-lighter;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;

        @media (min-width: 960px) {
          max-width: calc(928px / 2);
          height: 340px;
        }
        @media (max-width: 959px) {
          max-width: calc(100vw - 32px);
        }
        // width: 45vw;
        // height: 340px;
        // }
        // @media (max-width: 767px) {
        //   width: 86vw;
        //   margin: 8px 0px;
        //   height: 220px;
        // }

        div {
          padding: 24px 16px;
          text-align: center;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          // color: ${colors.knowit.red[3]};
          color: $purple-dark;
        }
        a {
          text-decoration: inherit;
          color: inherit;
        }
        h4 {
          font-size: 1.14em;
        }
        p {
          font-size: 1em;
          line-height: 1.56;
          flex-grow: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 16px auto;
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
