@import '../../styles/common.scss';

.aboutSection {
  h1 {
    text-align: center;
    padding-bottom: 8px;
    // @media (max-width: 610px) {
    //   font-size: calc(12.8vw * 0.94);
    // }
    font-size: min(10vw, 4.8rem);
  }

  p {
    text-align: justify;
    word-break: normal;
    hyphens: manual;
  }
}
