@import '../../styles/common.scss';

.aboutSection {
  h1 {
    line-height: 107px;
  }
}

.frontMedal {
  grid-column: 3 / span 8;
  text-align: center;
  padding-top: $large-vertical-padding;

  img {
    height: 108px;
  }
}

.frontContent {
  padding-top: 24px;
}
